{% extends 'base.html' %}

{% block title %}
	Help
{% endblock title %}


{% block content %}
	<div class="p-4 rounded rounded-4 container-fluid col-10 mt-5" style="background-color: rgba(198, 198, 198, 0.69) ;">

		<p class="fs-3">	
			Hello <br> 
			This project is developed by Parham Karimipour. <br>
			This is a web application with Django that has the ability to create both todo lists and notes lists. <br>

			To contact me, you can search my name "parham karimipour" on Google. <br>
		</p>

		<h1>contact me:</h1>
		<ul class="list-group p-1">
			<li class="list-group-item" class="list-group-item">
				<i class="bi bi-github"></i>
				<a href="https://github.com/parhamkmp">
					GitHub 
				</a>
			</li>

			<li class="list-group-item">
				<i class="bi bi-linkedin"></i>
				<a href="https://www.linkedin.com/in/parham-karimipour-820999220/?originalSubdomain=ir">
					LinkedIn
				</a>
			
				
			</li>

			<li class="list-group-item">
				<i class="bi bi-file-earmark-fill"></i>
				<a href="https://jobinja.ir/user/LS-8292529">Jobinja CV </a>
			
			
				
			</li>

			<li class="list-group-item">
				<i class="bi bi-google"></i>
				<span>parhamkarimipour@gmail.com</span>
			
				
			</li>

			<li class="list-group-item">
				<i class="bi bi-telegram"></i>
				<a href="https://t.me/parhamkmp">telegram</a>
			</li>
		</ul>
	</div>
	<br>
{% endblock content %}

